<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phishing Detection System</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Phishing Detection System</h1>
    <div class="container">
        <div class="box" onclick="location.href='/url-check'">Check URL</div>

        <div class="box" onclick="location.href='email-check'">Check Email</div>
    </div>
</body>
</html>
